<h2>Delete Plant</h2>
<h4><%= flash[:message] %></h4>
<h4>Are you sure you wanted to delete the water for <%=@wevent.plant.name%> from <%=@wevent.date%></h4>
<form action='/plants/water-events' method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="hidden" id="hidden" name="id" value="<%=@wevent.plant.id%>">
  <input type="hidden" id="hidden" name="wid" value="<%=@wevent.id%>">
  <select id="delete" name="delete" required>
    <option selected='selected' value="no">No</option>
    <option value="yes">Yes</option>
  </select>
  <br><br>
  <input type="submit" value="Delete">
</form>

