<div class="container">
  <h2>Home: <%= @user.username %></h2>
  <h4><%= flash[:message] %></h4>
  <div>
    <div class="content">
      <a href="/plants/new">Add New Plant</a>
      <br><br>
      <ul>
        <% @user.plants.each do |plant| %>
          <li>
            <h4><a href="/plants/<%= plant.id.to_s %>"><%= plant.name %></a></h4>
            <span>Scientific Name: <%= plant.sci_name %></span><br>
            <span>Lighting: <%= plant.light %></span><br>
            <span>Water: <%= plant.water %></span><br>
            <span>Fertilizer: <%= plant.fertilizer %></span><br>
            <span>Temperature: <%= plant.temperature %></span><br>
            <span>Humidity: <%= plant.humidity %></span><br>
            <a href="/plants/<%= plant.id.to_s %>/edit">Edit Plant</a>
          </li>
        <% end %>
      </ul>
      <br>
    </div>

  </div>
</div>
