<h4 class="flash"><%= flash[:message] %></h4>
<div class="card">
  <h4 class="card-header">Recently Added / Updated Plants</h4>
  <div class="card-grid">
  <% @rec_plants.each do |plant| %>
    <div class="grid-item">   
      <h4 style='text-align:center'><a href="/plants/<%=plant.id%>"><%= plant.name %></a></h4>
      <p><strong>Common Name</strong></p>
      <p class="card-info"><%= plant.cname %></p>
      <p><strong>Scientific Name</strong></p>
      <p class="card-info"><%= plant.sci_name %></p>
      <p><strong>Date Acquired/Planted</strong></p>
      <p class="card-info"><%= plant.date %></p>
      <p><strong>Date Added/Updated</strong></p>
      <p class="card-info"><%= plant.updated_at %></p>
      <a href="/plants/<%=plant.id%>/edit" class="card-links">edit</a>
    </div>
  <% end %>
  </div>
</div>

<div class="card">
  <h4 class="card-header">Due/Overdue for Watering</h4>
  <div class="card-grid">
    <% @overdue_plants.each do |plant| %>
      <div class="grid-item">   
        <h4 style='text-align:center'><a href="/plants/<%=plant.id%>"><%= plant.name %></a></h4>
        <p class="card-info"><%= plant.due_in_on %></p>
        <p><strong>Water Date</strong></p>
        <p class="card-info"><%= plant.water_due %></p>
        <a href="/plants/<%=plant.id%>/new-water-event">water</a>
      </div>
    <% end %>
  </div>
</div>
