<h4 class="flash"><%= flash[:message] %></h4>
<div class="card">

  <h4 class="card-header"><%= @user.username %>'s Plants</h2>
  <div class="card-table-links">
    <a href="/plants/new">add plant</a>
    <a href="/water-events/new">new water event</a>
  </div>
  <div class="card-table">
      <table>
        <tr>
          <th>Name</th>
          <th>Common Name</th>
          <th>Scientific Name</th>
          <th>Date Acquired/Planted</th>
          <th>Lighting</th>
          <th>Humidity</th>
          <th>Water By Date</th>
          <th>Water Notification</th>
        </tr>
        <% @plants.each do |plant| %>
          <tr>
            <td><a href="/plants/<%=plant.id%>"><%= plant.name %></a></td>
            <td><%= plant.cname %></td>
            <td><%= plant.sci_name %></td>
            <td><%= plant.date %></td>
            <td><%= plant.light %></td>
            <td><%= plant.humidity %></td>
            <td><%= plant.water_due %></td>
            <td><%= plant.due_in_on %></td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
