<h4 class="flash"><%= flash[:message] %></h4>
<div class="card">

  <h4 class="card-header"><%= @user.username %>'s Plants</h2>
  <div class="card-table-links">
    <a href="/plants/new">add plant</a>
    <a href="/water-events/new">water plants</a>
    <a href="/fertilizer-events/new">fertilize plants</a>
  </div>
  <div class="card-table">
      <table style="width: 70%">
        <tr>
          <th>Name</th>
          <th>Common Name</th>
          <th>Scientific Name</th>
          <th>Date Acquired/Planted</th>
          <th>Water By Date</th>
          <th>Water Notification</th>
          <th>Fertilize By Date</th>
          <th>Fertilizer Notification</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <% @plants.each do |plant| %>
          <tr>
            <td><a href="/plants/<%=plant.id%>"><%= plant.name %></a></td>
            <td><%= plant.cname %></td>
            <td><%= plant.sci_name %></td>
            <td><%= plant.date %></td>
            <td><%= plant.water_due %></td>
            <td><%= plant.due_in_on %></td>
            <td><%= plant.fert_due %></td>
            <td><%= plant.fdue_in_on %></td>
            <td><a class="tdedit" href="/plants/<%=plant.id%>/edit">edit</a></td>
            <td><a class="tddelete" href="/plants/<%=plant.id%>/delete">delete</a></td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
