<div class="card">
  <h4 class="flash"><%= flash[:message] %></h4>
  <h4 class="card-header"><%= @plant.name %></h4>
  <div class="card-grid-three">
    <div class="grid-item">   
      <p><strong>Common Name</strong></p>
      <% if @plant.cname == "" %>
        <p class="card-info"> - </p>
      <% else %>
        <p class="card-info"><%= @plant.cname %></p>
      <% end %>
      <p><strong>Scientific Name</strong></p>
      <% if @plant.sci_name == "" %>
        <p class="card-info"> - </p>
      <% else %>
        <p class="card-info"><%= @plant.sci_name %></p>
      <% end %>
      <p><strong>Date Acquired/Planted</strong></p>
      <p class="card-info"><%= @plant.date %></p>
      <p><strong>Last Updated</strong></p>
      <p class="card-info"><%= @plant.updated_at %></p>
      <p><strong>Created</strong></p>
      <p class="card-info"><%= @plant.updated_at %></p>
    </div>

    <div class="grid-item">   
      <p><strong>Last Watered</strong></p>
      <% if @plant.water_events.count > 0 %>
        <p class="card-info"><%= @plant.water_events.sort_by(&:date).last.date %></p>
      <% else %>
        <p class="card-info">N/A</p>
      <% end %>
      <%# <p><strong>Tracking Water Average?</strong></p> %>
      <%# <%= "<p class='card-info'>Yes</p>" if @plant.water_track %1> %>
      <%# <%= "<p class='card-info'>No</p>" if !@plant.water_track %1> %>
      <%= "<p><strong>Water Average</strong></p>" if @plant.water_track %>
      <%= "<p><strong>Water Schedule</strong></p>" if !@plant.water_track %>
      <p class="card-info"><%= @plant.water_avg %> days</p>
      <p><strong>Water On</strong></p>
      <p class="card-info"><%= @plant.water_due %></p>
      <p><strong>Water Due</strong></p>
      <p class="card-info"><%= @plant.due_in_on %></p>
      <p><strong>Preferred Humidity</strong></p>
      <p class="card-info"><%= @plant.humidity %></p>
    </div>

    <div class="grid-item">   
      <p><strong>Last Fertilized</strong></p>
      <% if @plant.fert_events.count > 0 %>
        <p class="card-info"><%= @plant.fert_events.sort_by(&:date).last.date %></p>
      <% else %>
        <p class="card-info">N/A</p>
      <% end %>
      <%# <p><strong>Last Watered?</strong></p> %>
      <%# <%= "<p class='card-info'>Yes</p>" if @plant.fert_track %1> %>
      <%# <%= "<p class='card-info'>No</p>" if !@plant.fert_track %1> %>
      <%= "<p><strong>Fertilizer Average</strong></p>" if @plant.fert_track %>
      <%= "<p><strong>Fertilizer Schedule</strong></p>" if !@plant.fert_track %>
      <p class="card-info"><%= @plant.fert_avg %> days</p>
      <p><strong>Fertilize On</strong></p>
      <p class="card-info"><%= @plant.fert_due %></p>
      <p><strong>Fertilizer Due</strong></p>
      <p class="card-info"><%= @plant.fdue_in_on %></p>
      <p><strong>Preferred Lighting</strong></p>
      <p class="card-info"><%= @plant.light %></p>
    </div>
  </div>

  <div class="card-links" style="text-align:center">
    <br>
    <a href="/plants/<%= @plant.id.to_s %>/edit">edit</a>
    <a href="/plants/<%= @plant.id.to_s %>/delete">delete</a>
    <a href="/plants/<%=@plant.id.to_s %>/new-water-event">water</a>
    <a href="/plants/<%=@plant.id.to_s %>/new-fertilizer-event">fertilize</a><br><br>
    <a href="/plants/<%=@plant.id.to_s %>/water-events">list water events</a>
    <a href="/plants/<%=@plant.id.to_s %>/fertilizer-events">list fertlizer events</a>
  </div>
  <%# <h4 class="end-line"></h4> %>
</div>
