<div class="card">
  <div class="card-links">
    <a href="/plants/<%= @plant.id.to_s %>/edit">Edit Plant</a>
    <a href="/plants/<%= @plant.id.to_s %>/delete">Delete Plant</a>
    <a href="/plants/<%=@plant.id.to_s %>/new-water-event">New Water Event</a>
  </div>
  <h2><%= @plant.name %></h2>
  <h4><%= flash[:message] %></h4>
  <div>
    <div class="content">
      <%# TODO: Add water/fert helpers to say if/when it is tracked %>
      <span>Common Name: <%= @plant.cname %></span><br>
      <span>Scientific Name: <%= @plant.sci_name %></span><br>
      <span>Water Notification: <%= @plant.due_in_on %></span><br>
      <span>Water By Date: <%= @plant.water_due %></span><br>
      <span>Water Schedule: <%= @plant.water_avg %> days</span><br>
      <span>Fertilizer: <%= @plant.fert %></span><br>
      <span>Lighting Needs: <%= @plant.light %></span><br>
      <span>Preferred Humidity: <%= @plant.humidity %></span><br>
      <br>
    </div>

  </div>
</div>
