<div class="container">
  <a href="/home">Home</a>
  <a href="/plants/<%= @plant.id.to_s %>/edit">Edit Plant</a>
  <h2><%= @plant.name %></h2>
  <h4><%= flash[:message] %></h4>
  <div>
    <div class="content">
      <%# TODO: Add water/fert helpers to say if/when it is tracked %>
      <span>Common Name: <%= @plant.cname %></span><br>
      <span>Scientific Name: <%= @plant.sci_name %></span><br>
      <span>Water: <%= @plant.water %></span><br>
      <span>Fertilizer: <%= @plant.fert %></span><br>
      <span>Lighting Needs: <%= @plant.light %></span><br>
      <span>Preferred Humidity: <%= @plant.humidity %></span><br>
      <br>
    </div>

  </div>
</div>
