<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Planted</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="topnav">
      <div class="header">
        <h1>Planted</h1>
      </div>
      <%= "<a href='/signup' style='float:right'>sign up</a>" if !logged_in? %>
      <%= "<a href='/login' style='float:right'>login</a>" if !logged_in? %>
      <%= "<a href='/logout' style='float:right'>logout</a>" if logged_in? %>
      <%= "<a href='/fertilizer-events'>fertilizer events</a>" if logged_in? %>
      <%= "<a href='/water-events'>water events</a>" if logged_in? %>
      <%= "<a href='/plants'>plants</a>" if logged_in? %>
      <a href="/home">home</a>
    </div>
    <div class="yield">
      <%= yield %>
    </div>
    <div class="footer">
      <span style='text-decoration:overline'>sinatra project</span><br>
      <span>planted</span><br>
    </div>

  </body>
</html>
